# Entornos y Configuración local
.env

# Archivos de base de datos local (producción/desarrollo dinámicos)
backend/database/clientes.json

# Librerías locales instaladas dinámicamente en Render
backend/lib/

# Cache de Python
__pycache__/
*.pyc
